<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zhangtao.plant_conservation.mapper.UserMapper">

    <insert id="insUser">
        insert into `user`(`userName`,`sex`,`userAvatar`,`phone`,
                           `address`,`miniOpenId`,`wxOpenId`,
                            `enable`,`activity`,`createrCode`,
                                      `addTime`)
        values(#{user.userName},#{user.sex},
               #{user.userAvatar},#{user.phone},
               #{user.address},#{user.miniOpenId},
               #{user.wxOpenId}, #{user.enable},
               #{user.activity},#{user.createrCode},
               #{user.addTime})
    </insert>

    <select id="checkUserCode" resultType="com.zhangtao.plant_conservation.pojo.User">
        select * from `user` where 1=1 and
        <if test="user.userCode != null">
            `userCode` = #{user.userCode}
        </if>
    </select>

    <update id="deleteUser" parameterType="com.zhangtao.plant_conservation.pojo.User">
        update `user` set `enable`=false ,`activity`=false
        where  `userCode` = #{user.userCode}
    </update>

    <update id="restartUser">
        update `user` set `enable`=true ,`activity`=true
        where `userCode` = #{user.userCode}
    </update>

    <update id="updateUser">
        update `user` set
        <if test="user.userName !=null">
            `userName` = #{user.userName},
        </if>
        <if test="user.sex !=null">
            `sex` = #{user.sex},
        </if>
        <if test="user.userAvatar !=null">
            `userAvatar` = #{user.userAvatar},
        </if>
        <if test="user.phone !=null">
            `phone` = #{user.phone},
        </if>
        <if test="user.address !=null">
            `userName` = #{user.address},
        </if>
        <if test="user.wxOpenId !=null">
            `wxOpenId` = #{user.wxOpenId},
        </if>
        <if test="user.enable != null">
            `enable`=#{user.enable},
        </if>
        <if test="user.activity != null">
            `activity`=#{user.activity},
        </if>
        <if test="user.createrCode != null">
            `createrCode`=#{user.createrCode},
        </if>
        where `userCode` = #{user.userCode}
    </update>

    <select id="selUserList" resultType="com.zhangtao.plant_conservation.pojo.User">
        select * from `user` where 1=1
    </select>

    <select id="selUserByCodeList" resultType="com.zhangtao.plant_conservation.pojo.User">
        select * from `user` where `userCode` = #{user.userCode}
        <if test="user.enable != null">
            and `enable`=#{user.enable}
        </if>
    </select>
</mapper>
